.treeview{
    z-index: 3;
}
/* Loader */
#loader{
    position:fixed;
    top:0;
    left:0;
    background:rgba(255,255,255,0.5);
    background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
    z-index:2000;
    width:100%;
    height:100%;
}

.table-subdetail {

    border-top: 1px solid #e7e7e7;
    font-size: 12px;
    color: #7d7d7d;

}

.table-subdetail-no-border {

    font-size: 12px;
    color: #7d7d7d;

}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}


/* Input Uppercase */
input[data-transform=uppercase] {
    text-transform: uppercase;
}


#mid-vert{
    vertical-align: middle;
}

.has-error{
    margin-bottom: 0px !important;
}

/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 600;*/
/*  src: url('/fonts/open-sans-v17-latin-regular.eot'); !* IE9 Compat Modes *!*/
/*  src: local('Open Sans Regular'), local('OpenSans-Regular'),*/
/*       url('/fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'),*/
/*       url('/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),*/
/*       url('/fonts/open-sans-v17-latin-regular.woff') format('woff'),*/
/*       url('/fonts/open-sans-v17-latin-regular.ttf') format('truetype'),*/
/*       url('/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');*/
/*}*/


.swal2-popup{
    font-size: 1.2rem !important;
}

body{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Product Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Product Sans";
}
.text-strong{
    font-weight: bold;
}

.bootstrap-tagsinput{
    width: 100% !important;
    line-height: 25px !important;
    border-radius: 0px !important;
}

.bootstrap-tagsinput .label{
    font-size: 95%;
    line-height: 2.3;
}

.todo-list>li{
    /*background-color: #a7e8cb !important;*/
    padding: 3px 10px !important;
}


body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

.action{
    width: 40px;
}

.action-8p{
    width: 8%;
}

.w-6p{
    width: 6%;
}

.w-1p{
    width: 1% !important;
}

.w-2p{
    width: 2% !important;
}

.w-8p{
    width: 8%;
}

.w-10p{
    width: 10%;
}

.act3{
    width: 150px;
}

.w-15p{
    width: 15%;
}

.w-30p{
    width: 30%;
}
.w-40p{
    width: 40%;
}

.w-50p{
    width: 50%;
}

.w-60p{
    width: 60%;
}

.w-12p{
    width: 12%;
}

.w-13p{
    width: 13%;
}

.w-14p{
    width: 14%;
}
.action-10p{
    width: 10%;
}

.action-12p{
    width: 12%;
}

.action-60{
    width: 60px !important;
}

.action-80{
    width: 80px !important;
}

.action-100{
    width: 100px !important;
}

.action-120{
    width: 120px !important;
}

.action-140{
    width: 140px !important;
}

.action-160{
    width: 160px !important;
}

.action-180{
    width: 180px !important;
}

.action-200{
    width: 200px !important;
}

.action-3{
    width: 120px !important;

}

.slimScrollBar{
    background: white !important;
}


.col-sm-3half, .col-sm-8half, .col-sm-1half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .action4{
        width: 10%;
    }
}

@media (min-width: 600px) {
    .action4{
        width: 100%;
    }
    .action2{
          width: 100%;
      }
    .action3{
        width: 100%;
    }
}



@media (min-width: 895px) {
    .action4{
        width: 30%;
    }
    .action2{
        width: 23%;
    }
    .action3{
        width: 28%;
    }
}

@media (min-width: 920px) {
    .action4{
        width: 23%;
    }
    .action2{
        width: 19%;
    }
    .action3{
        width: 23%;
    }
}

@media (min-width: 980px) {
    .action4{
        width: 21%;
    }
    .action2{
        width: 17%;
    }
    .action3{
        width: 19%;
    }
}



@media (min-width: 1055px) {
    .action4{
        width: 19%;
    }
    .action2{
        width: 12%;
    }
    .action3{
        width: 17%;
    }
}



@media (min-width: 1140px) {
    .action4{
        width: 17%;
    }
    .action2{
        width: 10%;
    }
    .action3{
        width: 15%;
    }
}
.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.blink-one {
    animation: blinker-one 1s linear infinite;
}
@keyframes blinker-one {
    0% {
        opacity: 0;
    }
}
.blink-two {
    animation: blinker-two 1.4s linear infinite;
}
@keyframes blinker-two {
    100% {
        opacity: 0;
    }
}

@media (min-width: 1250px) {
    .action4{
        width: 15%;
    }
    .action2{
        width: 9%;
    }
    .action3{
        width: 13%;
    }
}


@media (min-width: 1400px) {
    .action4{
        width: 13%;
    }
    .action2{
        width: 8%;
    }
    .action3{
        width: 11%;
    }
}

@media (min-width: 1530px) {
    .action4{
        width: 12%;
    }
    .action2{
        width: 7%;
    }
    .action3{
        width: 10%;
    }
}

@media (min-width: 1760px) {
    .action4{
        width: 10%;
    }
    .action2{
        width: 7%;
    }
    .action3{
        width: 8%;
    }
}

.bs-example{
    padding: 10px;
    border: 1px solid #c5c5c5;
}
.dtrg-group{
    background-color: #f1edf2 !important;

}

.milestone,.milestone th,.milestone td {
    border: 1px solid grey;
}
.no-style-input{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
.no-style-input:focus {
    outline: none !important;
    border:1px solid #0b93d5;
    box-shadow: 0 0 10px #719ECE;
}
.no-style-input.has-error {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #dd514c;
}